body{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,ul{
	text-transform: uppercase;
}

.section-container{
	width: 100%;
	display: inline-block;
	position: relative;
}

.content{
	max-width: 1040px;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
}


.header nav{
	width: 100%;
	height: 100px;
	background-color: #2B3E4F;
	color: white;
}

.header .content{
	height: 50px;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 20px;
}

.menu{
	float: right;
}

.menu li{
	display: inline-block;
	padding: 20px;
	font-weight: 700;
}

.name{
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	padding: 15px;
}
.portfolio{
	margin-bottom: 80px;

}

.profile{
	background-color: #00BD9D;
	height: 495px;
}

.profilepic{
	width: 65%;
	margin: 0 auto;
}

.profilepic h1{
	font-size: 50px;
	font-weight: 700;
	color: white;
	text-align: center;
}

.profilepic p{
	font-size: 14px;
	color: white;
	text-align: center;
}

.img-profile{
	display: block;
    margin: 0 auto;
    width: 175px;
    padding-top: 110px;
    padding-bottom: 25px;
}

.line{
    border: 2px solid white;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.ion-star{
	display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.separador{
	text-align: center;
	padding-top: 10px;	
	padding-bottom: 20px;
}


.gallery h3{
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;

}
.blue{
	border: 2px solid #2B3E4F;
	color: #2B3E4F; 
} 
.bluee{
	color: #2B3E4F; 
}
.img{
	width: 30%;
    margin: 7px;

}
.fondo{
	background-color: #00BD9D;
	height: 595px;

}
.lorem {
    line-height: 27px;
    width: 49.6%;
    display: inline-block;
    padding-left: 25px;
    box-sizing: border-box;

}
.about h2{
	padding-top: 39px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.about{
	width:68%;
	margin: 0 auto;
	text-align: left;
	color: white;
}

/* SECTION FORMULARIO */

.contact {
	width: 50%;	
}

.contact h3 {
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
}

.form {
	width: 100%;
	margin: 0 auto;
	height: 30px;
	border: none;
	border-bottom: 1px solid grey;
}

form .nombre {
	border-top: 1px solid grey;

}

.mensaje {
	width: 100%;
	margin: 0 auto;
	height: 80px;
	border: none;
	border-bottom: 1px solid grey;
	font-family: 'Roboto', sans-serif;
}

form p {
	color:#ADB0B9; 
}


button {
	height: 30px;
	border-radius: 10%;
	background-color: #00BF9A;
	width: 50px;
	color: white;
	display: block;
	border: none;
	margin-top: 10px;
}
footer{
	height: 160px;
	background: #2B3E4F;
	color: white;
	padding-top: 60px;
}
.Location{
	width: 30%;
	text-align: center;
	display: inline-block;
}
.Location h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;

}
footer .content{
	text-align: center;
}
form{
	padding-bottom: 50px;
}
.location h2 p{
	font-size: 14px;
	text-align: center;

}
.around{
	width: 65%;
	float: right;
}
.around2{
	margin-bottom: 30px;
}
.ultimo{
	background: #213140;
	height: 60px;
	clear: both;
	padding-top: 50px;
	text-align: center;
}
.rsocial{
	display: inline-block;
	height: 40px;
	width:40px;
	border-radius: 50%;
	font-size:30px;
	border: 2px solid white;
	color:white;
	margin-bottom: 30px;

}

.icons ul{
	 display: inline-flex;
}

span{
	text-align: center;
}

@media screen and (max-width:450px){
    header{
        height: auto;
    }
    .menu{
        float: none;
        
    }

    .menu li{
        padding: 2px;

    }
.img{
    width: 100%;
   margin: 2px 0;

}
.about{
    width: 100%;
}
.p2{
    display: none;

}
.p1{
    width: 100%;
    padding: 2px 0;

}
.contact{
    width: 100%;
    padding-bottom: 20px;
}
h2, h3{

    font-size: 25px !important;
}
}